{% extends 'myapp/base.html' %}


{% block title %}Search Book Record{% endblock title %}


{% block content %}
      <div id="main">
        <h2>Search Book Record</h2>
        <form class="" action="" method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" name="" value="Search">
        </form>
        {% if books %}
          <table>
            <thead>
              <th>Book Title</th>
              <th>Price</th>
              <th>Author</th>
              <th>Publisher</th>
            </thead>
          </table>
        {% endif %}
        {% for book in books %}
          <tr>
            <td>{{book.title}}</td>
            <td>{{book.price}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
          </tr>
        {% endfor %}
      </div>
  {% endblock content %}
